.wrapper {
    margin: 2em 0 0 0 !important;
}

.box {
    padding: 1em !important;
    margin-bottom: 1em !important;
}

.box p {
    font-size: 1.3em;
    margin: 1em;
}

.box h2 {
    margin: 1em !important;
}

.box #helpText {
    color: #777777;
}

table td {
    height: 5em;
    width: 7.5em;
    border: white solid 0.1em;
    cursor: pointer;
}

#footer {
    padding: 0.5rem;
}
