#famous_line {
    font-family: 'Caveat', cursive;
    font-size: larger;
}

.scrolly {
    font-family: 'Roboto Condensed', sans-serif
}

#index_boxoffice, #one, #two, #three {
    font-family: 'Roboto Condensed', sans-serif;
}

#index_boxoffice button {
    background-color: rgba(255, 0, 0, 0) !important;
}

.list > .innerbox > hr {
    margin: 0.5rem 0;
}

.list > .innerbox > .thumbnail > img {
    width: 100%;
    height: auto;
    margin: auto;
}

.list > p {
    margin: auto;
}

.sort_icons {
    width: 1.5em;
    height: 1.5em;
    display: inline;
    float: right;
}

.searchInput, .searchMovieBtn {
    display: inline !important;
}

.searchInput {
    width: 80% !important;
}

.movie-item {
    overflow: hidden;
}

.movie-item a {
    text-decoration: none;
    color: #555555 !important;
}

.movie-poster {
    float: left;
    width: 9em;
}

.movie-poster > img {
    width: 7em;
}

.movie-info {
    float: left;
}

.movie-item::after {
    content: "";
    clear: both;
}

.movie-group {
    padding: 0 1em 1em 1em;
}

.movie-item {
    list-style: none;
}

.movie-title {
    font-size: 1.4em;
    margin-bottom: 1em !important;
}

.movie-info > p {
    margin: 0;
}