<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/config.html :: configFragment"></head>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/board/notice/notice-main.js}"></script>
    <script>

    </script>
</th:block>
<th:block layout:fragment="css">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/board/notice/notice-main.css}"/>
    <style>

    </style>
</th:block>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<div id="one" class="wrapper style2">
    <div class="inner">
        <div class="box align-center">
            <div class="image fit">
                <img th:src="@{/images/pic01.jpg}">
            </div>
            <div class="content">
                <h2>공지사항</h2>
                <div th:if="${pagenation.getTotalBoardCnt() == 0}">
                    <p>작성된 글이 존재하지 않습니다.</p>
                </div>
                <div th:unless="${pagenation.getTotalBoardCnt() == 0}">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>글 번호</td>
                            <td>제목</td>
                            <td>작성자</td>
                            <td>날짜</td>
                            <td>조회수</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="board : ${pagenation.getBoardNoticeList()}" style="cursor:pointer"
                            th:onclick="'location.href=\''+@{/notice/{bNo}(bNo=${board.getId()})}+'\';'">
                            <td th:text="${board.getId()}"></td>
                            <td th:text="${board.getTitle()}"></td>
                            <td th:text="${board.getWriter().getName()}"></td>
                            <td th:text="${#temporals.format(board.getRegDate(), 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${board.getViews()}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 페이지네이션 -->
                    <div id="pagenation">
                        <a th:each="index : ${#numbers.sequence(1, {pagenation.getTotalPageCnt()})}" th:text="${index}"
                           th:href="@{/notice?p={i}(i=${index})}"></a> <!-- th:href="@{/templates/board_notice?p={i}(i=${index})}" -->
                    </div>
                </div>

                <!-- 검색 기능 -->
                <div id="search">
                    <form th:action="@{/notice}" type="get">
                        <input type="text" name="query" id="searchQuery" placeholder="제목 및 내용을 입력해주세요.">
                        <button type="button" id="NtcSearchBtn">검색</button>
                    </form>
                </div>

                <div class="align-right">
                    <button type="button" sec:authorize="isAuthenticated()"
                            th:onclick="checkRoleAdmin([[${session.member.getRole()}]])">글쓰기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>