<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/config.html :: configFragment"></head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/assets/summernote-0.8.18/summernote-lite.min.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/assets/summernote-0.8.18/summernote-lite.min.js}"></script>
    <script th:src="@{/assets/summernote-0.8.18/lang/summernote-ko-KR.js}"></script>
    <script th:src="@{/assets/js/board/notice/notice-update.js}"></script>
    <script th:src="@{/assets/js/board/notice/notice-main.js}"></script>
</th:block>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<div id="one" class="wrapper style2">
    <div class="inner">
        <div class="box align-center">
            <div class="content">
                <div class="image fit">
                    <img th:src="@{/images/banner-notice.jpg}" alt="">
                </div>
                <h2>Write Notice</h2>
                <input type="text" name="boardId" id="boardId" hidden="hidden" th:value="${board.getId()}">
                <input type="text" name="title" id="notice_title" style="margin:1em auto; text-align: left" th:value="${board.getTitle()}">
                <input type="text" name="writerNo" id="writerNo" hidden="hidden" th:value="${session.member.getMemNo()}">
                <form method="post">
                    <textarea id="summernote" name="editordata" th:utext="${board.getContent()}"></textarea>
                </form>
                <div class="align-right">
                    <p id="inputLengthBox"><span id="currentInputLength"></span>/2048</p>
                </div>
                <button id="noticeUpdateSubmitBtn" type="button" class="button">완료</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>