<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config.html :: configFragment"></head>
<th:block layout:fragment="css">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/mypage/mypage-modify-form.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/popupPage.css}">
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/mypage/mypage-main.js}"></script>
</th:block>
<body>
<div th:replace="fragments/phoneCkForm.html :: phoneCkFormFragment"></div>
<footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>