<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/config.html :: configFragment"></head>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/mypage/mypage-main.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/mypage/mypage-modify-form.css}">
</th:block>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<div id="one" class="wrapper style2">
    <div class="inner">
        <div class="box align-center" id="myPageModi_one">
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/mypage/modify_info_proc}" type="post" name="modify_info_form" class="form">
                    <!-- profile image -->
                    <a href="javascript:window.open('/mypage/uploadProfileImage', 'Upload Profile Image Form', 'width=550px, height=265px')">
                        <img class="profile_image" th:if="${not #strings.isEmpty(session.member.getProfileImage())}"
                             th:src="${session.member.getProfileImage()}">
                        <img class="profile_image" th:unless="${not #strings.isEmpty(session.member.getProfileImage())}"
                             src="/images/test-account-96.png">
                    </a>
                    <br>
                    <button type="button" id="profileImageDlBtn">프로필 이미지 제거</button>
                    <br>
                    <input type="text" name="memNo" th:value="${session.member.getMemNo()}" th:valuetype="Long" hidden>

                    <div class="form-group">
                        <label for="identifier">ID : </label>
                        <input class="form-control half" type="text" id="identifier" name="identifier"
                               th:value="${session.member.getIdentifier()}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="nickname">Name : </label>
                        <input class="form-control half" type="text" id="nickname" name="nickname"
                               th:value="${session.member.getNickname()}">
                    </div>

                    <div class="form-group">
                        <label for="pwd">pwd : </label>
                        <input class="form-control half" type="password" id="pwd" name="pwd" placeholder="비밀번호 변경시 입력(소셜로그인 회원은 변경 불가)">
                    </div>

                    <div class="form-group">
                        <label for="pwd_checked">pwd_checked : </label>
                        <input class="form-control half" type="password" id="pwd_checked" name="pwd_checked">
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone : </label>
                        <input class="form-control half" type="text" id="phone" name="phone" th:value="${session.member.getPhone()}">
                        <button id="phoneUpdateBtn" type="button">변경</button>
                    </div>

                    <div class="form-group">
                        <label for="regDt">Registration Date : </label>
                        <input class="form-control half" type="text" id="regDt" name="regDt" th:value="${#temporals.format(session.member.getRegDt(), 'yyyy-MM-dd')}" readonly>
                    </div>

                    <input class="form-control" type="text" name="provider" th:value="${session.member.getProvider()}"
                           hidden="hidden">
                    <input type="button" name="modifyinfo_submitBtn" th:value="확인">
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>