<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/config.html :: configFragment"></head>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/sign-in/sign-in-main.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/findAccount/find-main.css}">
</th:block>
<body>
<header id="header">
    <div class="logo"><span id="siteName">Movie Info Site</span></div>
</header>

<div class="wrapper style2">
    <div class="inner">
        <div class="box align-center">
            <h2>회원 정보 찾기</h2>
            <span id="helpText">기존 방식 회원가입자만 사용 가능합니다.</span>
            <table>
                <tr>
                    <td onclick="location.href='/findEmail'"><p>아이디<br>찾기</p></td>
                    <td onclick="location.href='/findPwd'"><p>비밀번호<br>찾기</p></td>
                </tr>
            </table>

        </div>
    </div>
</div>

<footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>