<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config.html :: configFragment"></head>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/sign-in/sign-in-findEmail.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link type="text/css" rel="stylesheet" href="/assets/css/findAccount/findEmail.css">
</th:block>
<body>
<div th:replace="fragments/phoneCkForm.html :: phoneCkFormFragment"></div>
<footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>