<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/config.html :: configFragment"></head>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/sign-in/sign-in-findEmail.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link type="text/css" rel="stylesheet" href="/assets/css/findAccount/findEmail.css">
</th:block>

<body>
<header id="header">
    <div class="logo">Movie Info Site</div>
</header>
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="container align-center">
                <div class="field half">
                    <p>회원님의 계정(이메일)은 다음과 같습니다.</p>
                    <span style="color: #444444" th:text="${email}"></span>
                </div>
            </div>
            <br>
            <div class="actions align-center">
                <button type="button" onclick="window.close();">확인</button>
            </div>
        </div>
    </div>
</section>
<footer th:replace="/fragments/footer.html :: footerFragment"></footer>
</body>
</html>