<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/config.html :: configFragment"></head>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/sign-in/sign-in-main.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <style>
        .oauthBtn {
            border-radius: 12px;
            border: none;
            height: 45.59px;
        }

        #naverSignInBtn {
            background: url("http://localhost:8080/images/naver-oauth-xs.PNG") no-repeat;
            background-size: 100% 100%;
            /*width: 211px;*/
            margin-bottom: 1em;
        }

        #kakaoSignInBtn {
            background: url("http://localhost:8080/images/kakao-oauth-xs.png") no-repeat;
            background-size: 100% 100%;
            /*width: 185px;*/
            margin-bottom: 1em;
        }
    </style>
</th:block>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<div id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="image fit">
                <img src="/images/banner-sign-in2.jpg" alt=""/>
            </div>
            <div class="content">
                <h2 class="align-center title">Sign In</h2>
                <input id="oauthMsg" hidden="hidden" th:if="${not #strings.isEmpty(oauth_message)}" th:value="${oauth_message}">
                <div class="container align-center">
                    <form id="sign-up-form" th:action="@{/sign-in/sign-in-processor}" method="post">
                        <!-- th:action을 사용할 경우, CSRF 토큰이 필요할 경우 자동으로 포함해 전송 -->
                        <!-- email -->
                        <div class="field half">
                            <label for="email" class="align-left">Email</label>
                            <input id="email" type="text" name="email">
                        </div>
                        <br>
                        <!-- password-->
                        <div class="field half">
                            <label for="password" class="align-left">Password</label>
                            <input id="password" type="password" name="password">
                        </div>
                        <br>
                        <!-- remember me checkbox -->
                        <div class="field half align-left">
                            <input id="rememberme" type="checkbox" name="auto-login">
                            <!-- Security Config의 Param명과 일치 -->
                            <label for="rememberme">Remember Me</label>
                            <br>
                            <a href="#" class="text-decoration-none">forget email address or password?</a>
                        </div>
                        <br>

                        <!-- 네이버, 카카오, 구글 로그인 api 버튼 필요 -->
                        <button id="naverSignInBtn" class="oauthBtn" type="button"
                                th:onclick="goLoginProc([[${naverLoginUrl}]])"></button><!-- javascript:naverLogin() -->
                        <button id="kakaoSignInBtn" class="oauthBtn" type="button"
                                th:onclick="goLoginProc([[${kakaoLoginUrl}]])"></button><!-- javascript:kakaoLogin() -->
                        <br>

                        <!-- submit button -->
                        <ul class="actions align-center">
                            <input class="button" type="button" name="sign-in-submit" value="Submit">
                            <button class="button special" type="button" onclick="location.href='/sign-up'">Sign-up
                            </button>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/fragments/footer.html :: footerFragment"></footer>
</body>
</html>