form[name='modify_info_form'] {
    width: 600px;
    margin: 1.5em auto;
    padding: 1.5em;
}
.form-group {
    text-align: left;
}
input[name='modifyinfo_submitBtn'] {
    margin : 1em;
}

@media screen and (max-width: 736px) {
    form[name='modify_info_form'] {
        width: 400px;
    }
}
input[type=text], input[type=password] {
    text-align: center;
}
.profile_image {
    margin: 1.5em auto 0 auto;
}
label {
    display: inline-block;
}