.inner {
    overflow: hidden;
}

#myPage_one, #myPage_two, #myPage_three, #myPage_board, #myPage_comment {
    border-radius: 8px;
    padding: 1em !important;
}

#myPage_two, #myPage_three {
    padding-top: 1em;
    padding-bottom: 1em;
}

.myPage_img {
    height: 160px;
    width: 160px;
    margin: 1.5em auto;
    padding: 1em;
}

.myPage_img .profile_image {
    height: 140px;
    width: 140px;
    margin: auto;
}

.myPage_info {
    margin: 1em;
    text-align: center;
}

.myPage_info > .info {
    color: #444444;
}

button[name='modify_info'] {
    margin-top: 0.6em;
    width: fit-content;
    padding: 0.5em;
    font-size: smaller;
    font-size: smaller;
}

@media screen and (max-width: 980px) {
    #myPage_one {
        width: 100%;
    }
}

form[name='modify_user_form'], form[name='delete_user_form'] {
    display: inline-block;
    margin-top: 1em;
}

h2 {
    margin: 0.3em;
}

.boardList-item > p {
    margin: 0;
}

.more, #myBoardImp a, #myCommImp a, #myPage_board a, #myPage_comment a {
    text-decoration: none;
    color: #555555 !important;
}

ul {
    padding-right: 1em;
}

li {
    border-bottom: 0.1em solid #f2f2f2;
    margin-top: 0.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.commentList-item > p {
    margin: 0;
}

.comment_regDt {
    text-align: right;
    font-size: 0.8em;
}

.pagenation {
    text-align: center;
    margin: 1em auto 1em auto;
}