<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.springframework.org/schema/security">
<head th:replace="/fragments/config.html :: configFragment"></head>
<body>
    <header th:replace="/fragments/header.html :: headerFragment"></header>
    <div layout:fragment="content"></div>
    <footer th:replace="/fragments/sendCsMail.html :: footerFragment"></footer>
</body>
</html>