<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- File Appender -->
    <!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
    <!--        <file>web_movie.log</file>-->
    <!--        <append>true</append>-->
    <!--        <encoder>-->
    <!--            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    <logger name="com.portfolio.demo.project" level="INFO" />-->
    <!--    <logger name="com.portfolio.demo.project" level="WARN">-->
    <!--        <appender-ref ref="FILE" />-->
    <!--    </logger>-->

    <!--    <root level="debug">-->
    <!--        <appender-ref ref="STDOUT" />-->
    <!--    </root>-->

    <!-- Rolling File Appender -->
    <property name="LOG_FILE" value="log"/>
    <property name="LOG_DIR" value="logs"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy/MM}/${LOG_FILE}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
</configuration>