<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/config.html :: configFragment"></head>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/comment/comment-mov.js}"></script>
    <script>

    </script>
</th:block>
<th:block layout:fragmnet="css">
    <link rel="stylesheet" th:href="@{/assets/css/comment/comment-mov.css}">
</th:block>
<body class="subpage">
<header th:replace="/fragments/header.html :: headerFragment"></header>
<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box movieDetailBox">
            <div class="content movieImgContainer">
                <img class="movieDetailImg" th:if="${not #strings.isEmpty(movieThumnailUrl)}"
                     th:src="${movieThumnailUrl}">
                <img class="movieDetailImg" th:unless="${not #strings.isEmpty(movieThumnailUrl)}" src="/images/ex.jpg"
                     alt=""/> <!-- 추후에 해당 영화 포스터로 변환 -->

                <div class="movieDetailInfo"> <!-- content -->
                    <header class="align-center">
                        <h2 th:text="${movie.getMovieNm()}"></h2>
                        <p th:text="${movie.getMovieNmEn()}"></p>
                        <input type="text" id="movieCd" th:value="${movie.getMovieCd()}" hidden="hidden">
                    </header>
                    <hr/>
                    <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor
                        velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat
                        lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at
                        egestas urna ornare.</p>
                    <ul class="movieDetailInfoList">
                        <li>감독 :
                            <span th:each="director:${movie.getDirectors()}">
                                <span th:if="${directorStat.last}" th:text="${director.getPeopleNm()}"></span>
                                <span th:unless="${directorStat.last}"
                                      th:text="${director.getPeopleNm() + ', '}"></span>
                            </span>
                        </li>
                        <li>장르 :
                            <span th:each="genre:${movie.getGenres()}">
                                <span th:if="genreStat.last" th:text="${genre.getGenreNm()}"></span>
                                <span th:unless="genreStat.last" th:text="${genre.getGenreNm() + ', '}"></span>
                            </span>
                        </li>
                        <li>영화유형 : <span th:text="${movie.getTypeNm()}"></span></li>
                        <li>국가 :
                            <span th:each="nation:${movie.getNations()}">
                                <span th:if="${nationStat.last}" th:text="${nation.getNationNm()}"></span>
                                <!-- &nbsp; -->
                                <span th:unless="${nationStat.last}" th:text="${nation.getNationNm()} + ', '"></span>
                            </span>
                        </li>
                        <li>개봉여부 : <span th:text="${movie.getPrdtStatNm()}"></span>
                            <span th:if="${movie.getPrdtStatNm() == '개봉'}"
                                  th:text="'(' + ${movie.getOpenDt().substring(0, 3)} + ')'"></span></li>
                        <li>상영시간 : <span th:text="${movie.getShowTm() + '분'}"></span></li>
                    </ul>
                </div>

            </div>
        </div>
        <div th:replace="/fragments/comment.html :: commentMovFragment"></div>
        <input type="text" name="memNo" id="memNo" th:if="${session.member != null}" th:value="${session.member.getMemNo()}"
               hidden="hidden">
    </div>
</section>
<!--</div>-->
<footer th:replace="/fragments/footer.html :: footerFragment"></footer>
</body>
</html>