<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/config.html :: configFragment"></head>
<th:block layout:fragment="script">
    <script>
        function checkRoleUser(role) {
            console.log("role : " + role);

            if (role === "ROLE_ADMIN" || role === "ROLE_USER") {
                location.href = "/imp/write";
            } else { //
                let c = confirm("로그인이 필요합니다.");
                if (c) {
                    location.href = "/sign-in";
                }
                return false;
            }
        }
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
        #pagenation > a {
            margin: 0.2em;
            text-decoration: none;
            color: #444444;
        }
    </style>
</th:block>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<div id="one" class="wrapper style2">
    <div class="inner">
        <div class="box align-center">
            <div class="image fit">
                <img th:src="@{/images/pic03.jpg}" alt="">
                <div class="content">
                    <h2>Notice</h2>
                    <div th:if="${pagenation.getTotalBoardCnt == 0}">
                        <p>작성된 글이 존재하지 않습니다.</p>
                    </div>
                    <div th:unless="${pagenation.getTotalBoardCnt == 0}">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>글 번호</td>
                                <td>제목</td>
                                <td>작성자</td>
                                <td>날짜</td>
                                <td>조회수</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board : ${pagenation.getBoardImpList()}" style="cursor:pointer"
                                th:onclick="'location.href=\''+@{/imp/{bNo}(bNo=${board.getBoardId()})}+'\';'">
                                <td th:text="${board.getBoardId()}"></td>
                                <td th:text="${board.getTitle()}"></td>
                                <td th:text="${board.getWriter()}"></td>
                                <td th:text="${#temporals.format(board.getRegDate(), 'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${board.getViews()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 페이지네이션 -->
                    <div id="pagenation">
                        <a th:each="index : ${#numbers.sequence(1, {pagenation.getTotalPageCnt()})}" th:text="${index}"
                           th:href="@{/templates/board_notice?p={i}(i=${index})}"></a>
                    </div>

                    <div class="align-right">
                        <button type="button" sec:authorize="isAuthenticated()"
                                th:onclick="checkRoleUser([[${session.member.getRole()}]])">글쓰기
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>