<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/config.html :: configFragment"></head>
<body>
<header th:replace="/fragments/header.html :: headerFragment"></header>
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="image fit">
                <img src="/images/pic04.jpg" alt=""/>
            </div>
            <div class="content align-center">
                <h2 class="title">Email Certification is Fail!</h2>
                <p class="align-center">The wrong approach. If you need help, please contact customer service.</p>
                <a href="/">go to Main</a>
            </div>
        </div>
        <div class="copyright align-center">
            &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a
                href="https://unsplash.com/">Unsplash</a> Video <a href="http://coverr.co/">Coverr</a>.
        </div>
    </div>
</section>

</body>
</html>