<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/config.html :: configFragment"></head>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/sign-up/sign-up-main.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link type="text/css" rel="stylesheet" href="/assets/css/sign-up/sign-up-main.css">
</th:block>

<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="image fit">
                <img src="/images/banner-sign-up.jpg" alt=""/>
            </div>
            <div class="content text-center">
                <h2 class="title">Sign up</h2>
                <form id="form_signup_o" th:action="@{/sign-up/sign-up-processor}" method="post" class="form">
                    <input name="provider" id="provider" th:value="${session.provider}" value="naver" hidden="hidden">
                    <div class="form-group">
                        <label class="align-left" for="id">UniqueId</label><br>
                        <input id="id" class="form-control" type="text" name="id" th:value="${id}" readonly><br>
                    </div>

                    <div class="form-group">
                        <label class="align-left" for="name">Name</label><br>
                        <input id="name" class="form-control" type="text" name="name" th:value="${nickname}" readonly><br>
                    </div>

                    <div class="form-group">
                        <label class="align-left" for="phone">Phone</label><br>
                        <input id="phone" class="form-control" type="text" name="phone" readonly>
                        <input id="phoneBnt" type="button" value="인증">
                    </div>
                    <small id="phoneHelp" class="form-text text-muted">당사는 귀하의 이메일을 외부와 공유하지 않으며, 이메일 또는 패스워드 찾기, 고객지원
                        등의 목적만을 위해 연락처를 수집합니다.</small>
                    <hr>
                    <ul class="actions align-center">
                        <input class="button special" type="button" name="submit" value="Submit">
                    </ul>
                </form>
            </div>
        </div>
        <footer th:replace="fragments/footer.html :: footerFragment"></footer>
    </div>
</section>
</body>
</html>