<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/config.html :: configFragment"></head>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/sign-up/sign-up-main.js}"></script>
</th:block>

<body>
<header th:replace="/fragments/header.html :: headerFragment"></header>
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="image fit">
                <img src="/images/pic02.jpg" alt=""/>
            </div>
            <div class="content align-center">
                <h2 class="title">Sign-up</h2>
                <form id="form_signup" action="/sign-up/sign-up-processor" method="post">
                    <div class="field half">
                        <label class="align-left" for="email">Email : </label>
                        <input id="email" type="text" name="email">
                        <p id="emailMessage" class="invisible">emailMessage</p>
                    </div>
                    <br>

                    <div class="field half">
                        <label class="align-left" for="name">Name or Nickname : </label>
                        <input id="name" type="text" name="name">
                        <p id="nameMessage" class="invisible">nameMassage</p>
                    </div>
                    <br>

                    <div class="field half">
                        <label class="align-left" for="password">Password : </label>
                        <input id="password" type="password" name="password">
                        <p id="pwdMessage" class="invisible">pwdMessage</p>
                    </div>
                    <br>

                    <div class="field half">
                        <label class="align-left" for="passwordConf">Password Confirm : </label>
                        <input id="passwordConf" type="password" name="passwordConf">
                        <p id="pwdConfMessage" class="invisible">pwdConfMessage</p>
                    </div>
                    <br>

                    <div class="field half">
                        <label class="align-left" for="phone">Phone : </label>
                        <input id="phone" type="text" name="phone" readonly>
                        <br>
                        <input id="phoneBnt" type="button" value="Authentication">
                    </div>
                    <br>

                    <small id="phoneHelp" class="form-text text-muted">당사는 귀하의 이메일을 외부와 공유하지 않으며, 이메일 또는 패스워드 찾기, 고객지원
                        등의 목적만을 위해 연락처를 수집합니다.</small>
                    <hr>
                    <ul class="actions align-center">
                        <input class="button" type="reset" name="reset" value="Reset">
                        <input class="button special" type="button" name="submit" value="Submit">
                    </ul>
                </form>
            </div>
        </div>
        <div class="copyright align-center">
            &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a
                href="https://unsplash.com/">Unsplash</a> Video <a href="http://coverr.co/">Coverr</a>.
        </div>
    </div>
</section>
</body>
</html>