<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/config.html :: configFragment"></head>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/board/imp/imp-main.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/board/comment/comment-imp.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/board/imp/imp-main.css}"/>
</th:block>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<div id="one" class="wrapper style2">
    <div class="inner">
        <div class="box align-center">
            <div class="content">
                <div class="align-left">
                    <h2>영화 감상 후기</h2>
                </div>
                <div class="align-right">
                    <span onclick="location.href='/imp'" style="cursor: pointer">목록</span>
                </div>
                <hr>
                <div>
                    <p class="impTitle" th:text="${board.getTitle()}"></p>
                    <input type="text" id="boardId" th:value="${board.getId()}" hidden="hidden">
                    <div class="align-left">
                        <span class="writer impInfo" th:text="${board.getWriter().getName()}"></span>&nbsp;
                        <span>작성일 : <span class="impInfo"
                                          th:text="${#temporals.format(board.getRegDate(), 'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                        <span>조회수 : <span class="impInfo" th:text="${board.getViews()}"></span></span>
                    </div>

                    <div id="boardContentBox">
                        <div id="boardContent">
                            <div th:utext="${board.getContent()}"></div>
                        </div>

                    </div>
                </div>
                <div class="updateBtns" sec:authorize="isAuthenticated()">
                    <ul class="align-right" th:if="${session.member.getMemNo() == board.getWriter().getMemNo()}">
                        <form th:action="@{/imp/update}" th:type="post" id="impUpdateForm">
                            <input type="text" id="updateForm_boardId" name="boardId" th:value="${board.getId()}"
                                   hidden="hidden">
                            <input type="submit" id="updateBtn" value="수정">
                        </form>

                        <form th:action="@{/imp/delete}" th:type="post" id="impDeleteForm">
                            <input type="text" id="deleteForm_boardId" name="boardId" th:value="${board.getId()}"
                                   hidden="hidden">
                            <input type="button" id="deleteBtn" th:value="삭제">
                        </form>
                    </ul>
                </div>

                <div class="prevNextBoards" th:if="${prevBoard != null || nextBoard != null}">
                    <a th:if="${prevBoard != null}"
                       th:href="@{/imp/{boardId}(boardId=${prevBoard.getId()})}"><span
                            th:text="${'[이전글] ' + prevBoard.getTitle()}"></span></a><br>
                    <a th:if="${nextBoard != null}"
                       th:href="@{/imp/{boardId}(boardId=${nextBoard.getId()})}"><span
                            th:text="${'[다음글] ' + nextBoard.getTitle()}"></span></a>
                </div>

                <!-- 댓글 작성 폼 -->
                <div id="impCommentWriteForm">
                    <h2>댓글 작성</h2>
                    <input id="comContent" type="text" name="writeContent">
                    <input id="memNo" type="text" name="memNo" hidden="hidden" th:value="${session.member.getMemNo()}">
                    <button id="comWriteBtn" type="button">작성</button>
                </div>

                <!-- 댓글 리스트 불러오기 -->
                <h2>댓글 목록</h2>
                <div id="comList"></div>


            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>