<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/config.html :: configFragment"></head>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/assets/js/board/imp/imp-main.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/board/imp/imp-main.css}">
</th:block>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<div id="one" class="wrapper style2">
    <div class="inner">
        <div class="box align-center">
            <div class="image fit">
                <img th:src="@{/images/pic03.jpg}" alt="">
            </div>
            <div class="content">
                <h2>감상 후기</h2>
                <div th:if="${pagenation.getTotalBoardCnt() == 0}">
                    <p>작성된 글이 존재하지 않습니다.</p>
                </div>
                <div th:unless="${pagenation.getTotalBoardCnt() == 0}">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>글 번호</td>
                            <td>제목</td>
                            <td>작성자</td>
                            <td>날짜</td>
                            <td>조회수</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="board : ${pagenation.getBoardImpList()}" style="cursor:pointer"
                            th:onclick="'location.href=\''+@{/imp/{bNo}(bNo=${board.getId()})}+'\';'">
                            <td th:text="${board.getId()}"></td>
                            <td th:text="${board.getTitle() + ' [' + board.getComments().size() + ']'}"></td>
                            <td th:text="${board.getWriter().getName()}"></td>
                            <td th:text="${#temporals.format(board.getRegDate(), 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${board.getViews()}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 페이지네이션 -->
                    <div id="pagenation">
                        <a th:each="index : ${#numbers.sequence(1, {pagenation.getTotalPageCnt()})}"
                           th:text="${index}"
                           th:href="@{/imp?p={i}(i=${index})}"></a>
                    </div>

                </div>

                <!-- 검색 기능 -->
                <div id="search">
                    <form th:action="@{/imp}" type="get">
                        <select name="con" id="searchSelect">
                            <optgroup label="검색조건"></optgroup>
                            <option name="con" value="writerName" selected>작성자명</option>
                            <option name="con" value="TitleOrContent">제목 또는 내용</option>
                        </select>
                        <input type="text" name="query" id="searchQuery">
                        <button type="button" id="ImpsearchBtn">검색</button>
                    </form>
                </div>

                <div class="align-right">
                    <button type="button" sec:authorize="isAuthenticated()"
                            onclick="location.href='/imp/write'">글쓰기
                    </button>
                    <button type="button" sec:authorize="isAnonymous()"
                            onclick="checkAnonymous()">글쓰기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>