<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
    <title>YOUNGHYUN PORTFOLIO</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ajax 비동기 통신을 위한 CSRF 토큰, 헤더 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 공통으로 쓰이는 css 파일 로드 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    <link type="text/css" rel="stylesheet" href="/webjars/font-awesome/5.15.0/css/all.css"/>-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"-->
<!--          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">-->
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css">
<!--    &lt;!&ndash; slick Slider CDN &ndash;&gt;-->
<!--    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->



    <!-- 공통으로  쓰이는 js 파일 로드 -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>

    <script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.scrolly.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/skel.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/util.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>

<!--    &lt;!&ndash; slick Slider CDN &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js}"></script>-->

</head>
</html>