<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div id="footer" th:fragment="footerFragment">
    <div class="copyright align-center">
        <span style="color: #555555">Tel </span>010.3395.5304<br>
        <span style="color: #555555">Email </span>xxxoxxo002@gmail.com<br>
        <span style="color: #555555">Address </span>경기도 양주시 옥정동<br>
        &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a
            href="https://unsplash.com/">Unsplash</a> Video <a href="http://coverr.co/">Coverr</a>.
    </div>
</div>
</html>