<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="headerFragment">
    <!-- Header -->
    <header id="header">
        <div class="logo"><a th:href="@{/}"><span id="siteName">Site Name</span></a></div>
        <a th:href="@{#menu}" class="toggle"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <div style="margin-bottom: 30px">
            <th:block sec:authorize="isAnonymous()">
                <div style="text-align: center">
                    <img src="/images/test-account-96.png"><br><br>
                    <span><a th:href="@{/sign-in}" style="color: #bfbfbf; text-decoration: none">Please Login</a></li></span>
                </div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()"> <!-- isAuthenticated() 인 상태면 세션에 member가 있을텐데 th:if="${session.member != null}"이 필요한지 고려 -->
                <div style="text-align: center">
                    <img class="profile_image" th:if="${not #strings.isEmpty(session.member.getProfileImage())}" th:src="${session.member.getProfileImage()}">
                    <img class="profile_image" th:unless="${not #strings.isEmpty(session.member.getProfileImage())}" src="/images/test-account-96.png"><br><br>
                    <span style="color: white"><span th:if="${session.member != null}" th:text="${session.member.getNickname()}"></span>님 반갑습니다. </span><br>
                    <span style="color: white"><a th:if="${session.member != null}" th:href="@{/mypage}" style="color: #bfbfbf; text-decoration: none; margin-right: 3px;">My Page</a></span>
                    <span><a href="#" onclick="document.getElementById('logout').submit();" style="color: #bfbfbf; text-decoration: none">Logout</a></span>
                    &nbsp;
                    <form id="logout" th:action="@{/logout}" method="POST"></form>
                </div>
            </th:block>
        </div>
        <ul class="links">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{#}">menu 1</a></li>
            <li><a th:href="@{#}">menu 2</a></li>
            <li><a th:href="@{#}">menu 3</a></li>
            <li><a th:href="@{/generic}">Generic</a></li>
            <li><a th:href="@{/elements}">Elements</a></li>
        </ul>
    </nav>
</div>
</html>