<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config.html :: configFragment"></head>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<div class="wrapper style2">
    <div class="inner">
        <div class="box align-center">
            <div class="image fit">
                <img th:src="@{/images/banner-sign-in.jpg}">
            </div>
            <div class="content">
                <p>잘못된 접근입니다.</p>
                <a th:href="@{/}" style="text-decoration: none;">메인 화면으로 가기</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/fragments/footer.html :: footerFragment"></footer>
</body>
</html>