<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/config.html :: configFragment"></head>
<body class="subpage">
<header th:replace="/fragments/header.html :: headerFragment"></header>
<!--<div layout:fragment="content">-->
    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="image fit">
                    <img src="/images/pic01.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2>Lorem ipsum dolor</h2>
                        <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
                    </header>
                    <hr/>
                    <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor
                        velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat
                        lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at
                        egestas urna ornare.</p>
                    <p>Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius
                        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id
                        hendrerit felis. Nulla viverra tempor dui at congue. Pellentesque quis nulla ornare, congue nisi
                        id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero massa, posuere fermentum eros
                        sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies consequat est,
                        efficitur convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac.
                        Pellentesque et ornare sapien</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style3">
        <div class="inner">

            <header class="align-center">
                <h2>Morbi interdum mollis sapien</h2>
                <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor
                    velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat
                    lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at
                    egestas urna ornare.</p>
            </header>

        </div>
    </section>
<!--</div>-->
<footer th:replace="/fragments/footer.html :: footerFragment"></footer>
</body>
</html>