<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/config.html :: configFragment"></head>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>

<!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->
<section id="banner" data-video="/images/banner">
    <div class="inner">
        <h1>Transitive</h1>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <a href="#one" class="button special scrolly">Get Started</a>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <img th:src="@{/images/pic01.jpg}" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2>Lorem ipsum dolor</h2>
                        <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
                    </header>
                    <hr/>
                    <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor
                        velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat
                        lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at
                        egestas urna ornare.</p>
                    <p>Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius
                        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id
                        hendrerit felis. Nulla viverra tempor dui at congue. Pellentesque quis nulla ornare, congue nisi
                        id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero massa, posuere fermentum eros
                        sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies consequat est,
                        efficitur convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac.
                        Pellentesque et ornare sapien</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style3">
    <div class="inner">
        <div id="flexgrid">
            <div>
                <header>
                    <h3>Tempus Feugiat</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus
                    arcu</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
            <div>
                <header>
                    <h3>Aliquam Nulla</h3>
                </header>
                <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh
                    sed </p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
            <div>
                <header>
                    <h3>Sed Magna</h3>
                </header>
                <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper
                    vehicula.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

            <div>
                <div class="box">
                    <div class="/image fit">
                        <img src="/images/pic02.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <h2>Lorem ipsum dolor</h2>
                            <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
                        </header>
                        <hr/>
                        <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet
                            tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus,
                            quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium
                            tellus venenatis, at egestas urna ornare.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="box">
                    <div class="/image fit">
                        <img src="/images/pic03.jpg" alt=""/>
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <h2>Vestibulum sit amet</h2>
                            <p>mattis sapien pretium tellus venenatis</p>
                        </header>
                        <hr/>
                        <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet
                            tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus,
                            quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium
                            tellus venenatis, at egestas urna ornare.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Four -->
<section id="four" class="wrapper style3">
    <div class="inner">

        <header class="align-center">
            <h2>Morbi interdum mollis sapien</h2>
            <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit.
                Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat
                malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
        </header>

    </div>
</section>

<footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>