.noticeInfo, .noticeTitle {
    color: #444444;
}

.noticeTitle {
    font-size: 2em;
    text-align: left !important;
}

.writer {
    font-size: 1.2em;
}

#boardContentBox {
    margin: 3em 1em;
    text-align: left;
    color: black;
}

.updateBtns {
    margin: 1em auto;
}

.prevNextBoards {
    list-style: none;
    text-align: left;
}

.prevNextBoards a {
    text-decoration: none;
    margin: 0;
    color: #555555;
}

#noticeUpdateForm, #noticeDeleteForm {
    display: inline-block;
}

#pagenation > a {
    margin: 0.2em;
    text-decoration: none;
    color: #444444;
}

#search {
    text-align: right;
    margin: 1em 0 0 0;
}

#searchQuery, #NtcSearchBtn {
    display: inline-block;
}

#searchQuery {
    width: 15em;
}

#commentMovBox {
    background-color: white;
    padding: 2em;
}

#ratingSelector {
    color: goldenrod;
    width: fit-content;
}

#ratingSelector, #commentContent, #commentSubmitBtn {
    display: inline;
}

#commentContent {
    width: 70%;
}

#commentListTitle {
    margin-top: 2em;
    margin-bottom: 0;
}

#commentMovList {
    padding: 1em;
    border-radius: 1em;
    margin: 0 2em;
    background-color: ghostwhite;
}

#pagenation_commMov {
    height: 3em;
}

button.upBtn, button.modifyBtn, button.deleteBtn {
    margin: 0 0.3em;
    padding: 0.35em;
    line-height: 0.3em;
    height: 2em;
}