.content {
    padding-top: 22px;
}

h2 {
    margin-bottom: 50px;
}

p, input {
    font-family: 'Nanum Gothic', sans-serif;
}

small {
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 0.4em;
    width: 23em;
    margin: auto;
    text-align: center;
}

.form-group .form-control {
    width: 23em;
    text-align: center;
    display: inline;
}

label {
    font-family: 'Nanum Gothic', Bold;
    display: inline-block;
    text-align: left;
}

#phone, #phone_o {
    width: 18em;
}