.wrapper {
    padding: 12rem 0 8rem 0 !important;
}

#sendMailForm input {
    text-align: left;
}

#contact {
    overflow: hidden;
    width: 80%;
    margin: 0.5em auto;
    text-align: center;
    color: #222222;
}

#myInfo1 {
    margin: 0.5em auto;
    width: 100%;
    text-align: center;
}

    #myInfo1 img {
        width: 7em;
    }

#myInfo2 {
    /*margin: 6em 2em 0 2em;*/
    width: 100%;
    margin: 1em auto;
    text-align: center !important;
}

    #myInfo2 b {
        font-weight: bold;
    }

    #myInfo2 p {
        margin: 0;
    }

    #myInfo2 a {
        text-decoration: none;
    }

    #myInfo2 span {
        font-size: 1.1em;
        color: #444444;
    }