<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/config.html :: configFragment"></head>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/assets/css/contact/contact-main.css}">
</th:block>
<body>
<header th:replace="fragments/header.html :: headerFragment"></header>
<section class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <h2 class="align-center">Contact Me!</h2>
                <hr/>
                <div id="contact">
                    <div id="myInfo1">
                        <img th:src="@{/images/developer.jpg}" alt="">
                    </div>
                    <div id="myInfo2">
                        <p style="font-size: 1.3em"><b>이영현</b></p><br>
                        <p><b>Tel.</b>&nbsp;&nbsp;010-3395-5304</p><br>
                        <p><b>Email.</b>&nbsp;&nbsp;dldudgus214@naver.com</p><br>
                        <p><b>주로 사용하는 언어</b>&nbsp;&nbsp;Java</p><br>
                        <p><b>주로 사용하는 프레임워크</b>&nbsp;&nbsp;Java Spring, Spring Boot</p><br>
                        <p><b>기능 설명</b>&nbsp;&nbsp;
                            <a th:href="@{https://drive.google.com/file/d/19mXYIHX1EFa-cdVPe-m882TVa4a5ucVw/view?usp=sharing}"><span>PDF 파일 보기(Google Drive)</span></a>
                        </p><br>
                        <p><b>소스코드</b>&nbsp;&nbsp;
                            <a th:href="@{https://github.com/yhlee002/webProject}"><span>https://github.com/yhlee002/webProject</span></a>
                        </p><br>
                        <p><b>블로그</b>&nbsp;&nbsp;
                            (<a th:href="@{http://u-u002.tistory.com}"><span>http://u-u002.tistory.com</span></a>)<br>
                        </p>
                        <p>프로젝트 배포 중 생긴 이슈를 개인적으로 기록한 블로그입니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer.html :: footerFragment"></footer>
</body>
</html>
